body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
    background-color: #b0ffbc;
}

header {
    color: #151313;
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(128, 212, 128);
    background-color: rgb(128, 212, 128)
}

.Spotlights {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.808);
    margin:20px auto;
    padding: 20px;
    max-width: 600px;
    background-color: whitesmoke;
}

.intro {
    text-align: centre;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;

}

.info {
    flex: 1;
    
}

.Image {
    flex: 1;
    text-align: center;
}

.Image img{
    max-width: 60%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: rgb(128, 212, 128);
    color: black;
    text-align: left;
    padding: 5px 0;
    bottom: 0;
    width: 100%;
}

.Copy {
    margin-left: 10px;
}