/* Font styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    font-family: "Montserrat", sans-serif;
}

/* Heading styles */
h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #27ad2d;
    text-transform: uppercase;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #15914d;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: 1.4rem;
}

/* Paragraph styles */
p {
    font-size: 18px;
    color: #565656;
}

/* Body styles */
body {
    background-color: rgba(255, 255, 255, 0);
    margin: 0px;
    font-size: 16px;
}

